.elements {
  font-family: monospace;
  font-size: xx-small;
  margin: 20px;
  margin-left: 110px;
  margin-bottom: 0;
  position: relative;
}
.moonCircle {
  font-size: 70px;
  color: yellow;
}
#number {
  font-size: large;
  font-weight: bold;
  margin-bottom: 0px;
  position: fixed;
  text-align: left;
  margin-right: 0;
  margin-top: 0;
}
.degrees {
  font-family: monospace;
  font-size: x-small;
  position: fixed;
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 0;
}
.snippet {
  text-align: left;
  position: absolute;
  margin-left: 800px;
  top: 100px;
}
#weatherText {
  font-weight: bold;
  font-size: larger;
}
.pagination {
  margin-top: 20px;
}
.page-link {
  color: black;
}
.row {
  margin-top: 40px;
}
.week-name {
  font-weight: bold;
}
#emoji {
  margin-top: 30px;
  font-size: 40px;
}
.rainy-cloud {
  color: grey;
}
.sunny {
  color: yellow;
}
.cloudySun {
  color: yellow;
}
.values {
  margin-top: 40px;
  font-size: 18px;
}
small {
  font-weight: lighter;
}
.dates {
  text-align: left;
  position: absolute;
  margin-left: 800px;
  margin-bottom: 0px;
}
.date {
  text-align: left;
  position: absolute;
  margin-top: 0px;
}
.city {
  font-size: 30px;
  font-weight: lighter;
  text-align: right;
  margin-right: 200px;
}
a {
  text-decoration: none;
}
a hover {
  text-decoration: underline;
}
.location-button {
  margin-left: 10px;
}
.git-link {
  margin-top: 40px;
  margin-left: 100px;
}
